<div class="alert alert-danger" role="alert" hidden="true">
  Errors with some values
</div>
<form method="post" enctype="multipart/form-data">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">

  <div class="form-group">
    <label for="title" class="control-label">Title</label>
    <input type="text" name="title" id="title"
           class="form-control"
           {% if item %}
           value="{{item.title}}"
           {% endif %}
           placeholder="Enter title">
  </div>
  <div class="form-group">
    <label for="description" class="control-label">Description</label>
    <input type="text" name="description" id="description"
           class="form-control"
           {% if item %}
           value="{{item.description}}"
           {% endif %}
           placeholder="Enter description">
  </div>
  <div class="form-group">
    <label for="category" class="control-label">Category</label>
    <select name="category" id="category"
            class="form-control">
      {% for category in categories %}
      <option value="{{category.id}}"
              {% if item and category.id == item.category_id %}
              selected="true"
              {% endif %}
              >
        {{category.name}}
      </option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="picture">Picture</label>
    <input type="file" name="picture" id="picture">
  </div>
  <button class="btn">Submit</button>
</form>
